@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --navy-900: #021024;
  --navy-800: #07305a;
  --accent: #00b4d8;
}

html,body,#root{height:100%}
body{font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue'; background: linear-gradient(180deg,var(--navy-900), #041129); color: #fff}
a{color:var(--accent)}
.container{max-width:1100px}
